<!-- <p>product-list works!</p><div class="row">
  <div class="col-md-4" *ngFor="let product of products">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" [src]="product.image" alt="Product image">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">${{ product.price }}</small>
          <small class="text-muted">Rating: {{ product.rating.rate }} ({{ product.rating.count }} reviews)</small>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  @for(product of products; track product.id) {

    <div class="col-md-4" >
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" [src]="product.image" alt="Product image">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">${{ product.price }}</small>
            <small class="text-muted">Rating: {{ product.rating.rate }} ({{ product.rating.count }} reviews)</small>
          </div>
        </div>
      </div>
    </div>
  }
  </div>



