/* You can add global styles to this file, and also import other style files */
.card-img-top {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

body {
  margin: 0;
}

html, body { height: 100%; }

body { margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif; }
